@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
  @apply font-bold px-4 py-2 rounded-lg active:scale-95 duration-200 transition text-xl outline outline-4 outline-offset-2;
}

.btn-cyan{
  @apply outline-cyan-400 text-cyan-300 bg-cyan-900/30 hover:bg-cyan-400/60 hover:text-black;
}

.btn-dark{
  @apply outline-slate-800 text-slate-800 bg-slate-900/20 hover:bg-slate-800/90 hover:text-slate-200;
}

.link{
  @apply text-xl sm:text-base font-medium text-gray-200 sm:text-slate-800/50 hover:text-slate-900 duration-300;
}

.link-active{
  @apply scale-150 sm:scale-110 font-bold sm:font-medium text-white sm:text-slate-900 underline-offset-2 
  no-underline px-2 mr-3 sm:mr-0 sm:px-0 rounded-lg bg-slate-800 sm:bg-transparent sm:underline decoration-slate-900 decoration-[3px] transition;
}

.btn-return{
  @apply font-medium text-slate-500 hover:text-slate-900 duration-300 hover:scale-105 hover:underline underline-offset-2 text-2xl;
}

.arrow-btn{
  @apply h-12 active:scale-95 duration-200 cursor-pointer;
}



.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  padding: 5px 0;
  width: 0;
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
      typing 4s steps(40, end) forwards 1s,
      blink-caret .75s step-end none ;
}

/* The typing effect */
@keyframes typing {
  0% { width: 0 }
  100% { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


.fadeIn{
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 
